# AWS
AWS_REGION=ap-southeast-1
ACCOUNTING_SQS=

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=app
DB_PASSWORD=app_pass
DB_DATABASE=application
DB_DRIVER=mysql
DB_MAX_OPEN_CONNS=10
DB_MAX_IDLE_CONNS=5
DB_CONN_MAX_LIFETIME_SEC=300

# API
API_PORT=8080
API_READ_TIMEOUT_SEC=30
API_WRITE_TIMEOUT_SEC=30

# Kafka
KAFKA_BROKERS=localhost:9092
KAFKA_PRODUCER_TOPIC=account.events
KAFKA_CONSUMER_TOPIC=account.events
KAFKA_CONSUMER_GROUP=ticket-service

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
